<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Children's Clothing Management App</title>
    <link rel="stylesheet" th:href="@{/default.css}" >
</head>
<body>
<nav class = "header-menu">
     <ul class="ul">
         <li><a href="http://localhost:8081/ChildrenClothing/index"> Home </a></li>
         <li><a href="http://localhost:8081/ChildrenClothing/edit"> Edit </a></li>
     </ul>
</nav>
<form action="#" th:action="@{/index}" th:object="${Clothes}"
      method="get">
    <fieldset>
        <input type="submit" id="submitButton" th:value="Save">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <table>
            <thead>
            <tr>
                <th> Clothes</th>
                <th> Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Clothe, itemStat : *{Clothes}">
                <td><input th:field="*{Clothe[__${itemStat.clothing_type}__].clothing_type}" /></td>
                <td><input th:field="*{Clothe[__${itemStat.quantity}__].quantity}" /></td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</form>







</body>
</html>