<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Children's Clothing Management App</title>
    <link rel="stylesheet" th:href="@{/default.css}" >
</head>
<body>
<nav class = "header-menu">
     <ul class="ul">
         <li><a href="http://localhost:8081/ChildrenClothing/index"> Home </a></li>
         <li><a href="http://localhost:8081/ChildrenClothing/edit"> Edit </a></li>
     </ul>
</nav>
<form action="#" th:action="@{/index}" th:object="${clothesList}" method="get">
    <fieldset>
        <table>
            <thead>
            <tr>
                <th>Clothing Type</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <!-- Iterate over the list of clothes -->
            <tr th:each="clothes : ${clothesList}">
                <td>
                    <input type="text" th:value="${clothes.getClothing_type()}" readonly />
                </td>
                <td>
                    <input type="number" th:value="${clothes.getQuantity()}" readonly />
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</form>







</body>
</html>